.full {
    width: 100%;
    height: 100%;
}
#select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 35% 0, 24.7% 100%, 0% 100%);
    background-image: url("../images/background_new.jpg");
    z-index: 2;
}
#main {
    position: relative;
    left: 25%;
    z-index: 1;
}
body {
    background-image: url("../images/background-1.jpg");
    overflow: hidden;
}
#title {
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 2vw;
    color: white;
    opacity: 0.9;
    font-weight: bolder;
    font-family: Microsoft JhengHei;
}
#rgb {
    position: absolute;
    top: 15%;
    left: 5%;
    margin-left: 2%;
    width: 15%;
    height: auto;
}

.input_blue {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 40%;
    height: auto;
}
#check-physical {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
#blu {
    background-color: blue;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
}

#blu-dis {
    position: absolute;
    left: 12%;
    z-index: 4;
    margin-top: 5px;
    margin-left: 20px;
    height: 25px;
    border: 1px solid white;
    background-color: blue;
    float: left;
}

#blu-bg {
    position: absolute;
    left: 12%;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    width: 153px;
    height: 25px;
    background-color: rgb(0, 0, 114);
    opacity: 0.5;
    z-index: 2;
}

#physical_num {
    position: absolute;
    left: 45%;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    margin-left: 30px;
    float: left;
    z-index: 2;
}




.input_green {
    position: absolute;
    top: 55%;
    left: 3%;
    width: 40%;
    height: auto;
}
#check-biological {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
#gre {
    background-color: green;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
}

#gre-dis {
    position: absolute;
    left: 12%;
    margin-top: 5px;
    margin-left: 20px;
    height: 25px;
    border: 1px solid white;
    background-color: green;
    float: left;
    z-index: 4;
}

#gre-bg {
    position: absolute;
    left: 12%;
    margin-top: 5px;
    margin-left: 20px;
    width: 153px;
    height: 25px;
    background-color: rgb(0, 71, 0);
    z-index: 3;
    opacity: 0.5;
}

#biological_num {
    position: absolute;
    left: 45%;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    margin-left: 30px;
    float: left;
}



.input_red {
    position: absolute;
    top: 60%;
    left: 3%;
    width: 40%;
    height: auto;
}
#check-chemical {
    border-radius: 25px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
}
#red {
    background-color: red;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
}

#red-dis {
    position: absolute;
    left: 12%;
    margin-top: 5px;
    margin-left: 20px;
    height: 25px;
    border: 1px solid white;
    background-color: red;
    float: left;
    z-index: 4;
}

#red-bg {
    position: absolute;
    left: 12%;
    margin-top: 5px;
    margin-left: 20px;
    height: 25px;
    width: 153px;
    background-color: rgb(94, 0, 0);
    opacity: 0.5;
    z-index: 3;
}

#chemical_num {
    position: absolute;
    left: 45%;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    margin-left: 30px;
    float: left;
}
.check {
    border: yellow dashed 3px;
    background-color: #999;
}
.checked {
    border: yellow dashed 3px;
    box-shadow: 1px 1px 20px red;
    background-color: white;
}

#slider_time {
    position: absolute;
    left: 8%;
    top: 91%;
    width: 15%;
    height: 2rem;
    display: none;
}
#slider_time .ui-slider-range { 
    background: #999; 
}
#slider_time .ui-slider-handle { 
    border-color: #232399;
    height: 2.4rem;
}

#slider_num {
    margin-left: 3%;
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 90.5%;
    left: 21%;
    font-size: 20px;
    display: none;
}

#times {
    position: absolute;
    top: 90%;
    left: 2%;
    width: 5%;
    display: none;
}
#chart_time {
    position: absolute;
    top: 63%;
    width: 25%;
    height: 13%;
    display: none;
}
#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 40%;
    height: 50%;
    background-color: rgb(143, 143, 143);
    border-radius: 5%;
    border: 2px solid #333;
}
.start_page {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.remove {
    display: none;
}

.title {
    font-size: 40px;
    padding-bottom: 2rem;
}
.content {
    font-size: 2rem;
}

#hide_table {
    position: absolute;
    top: 70%;
}

#hide_table > img {
    width: 29%;
    height: auto;
    border: 1px solid #ccc;
}

#pm {
    border: 2px solid red;
    font-size: 3rem;
    margin-left: 20rem;
}

#o3 {
    border: 2px solid blue;
    font-size: 3rem;
    margin-left: 2rem;
}

#so2 {
    border: 2px solid green;
    font-size: 3rem;
    margin-left: 2rem;
}